/* variables */
$green: #76d9a3;
$blue: #59c4bc;
$gray: #dddfd4;
$black: #173e43;
$yellow: #fae596;


/* global styles */
.container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: 0;
}

.box {
	border: 1px soild black;
	display: inline-block;
}

.one, .two {
	height:	200px;
	width: 50%;
}
.three, .four, .five {
	height: 300px;
	width: 33.33%;
}

.one {
	background-color: $green;
}
.two {
	background-color: $blue;
}
.three {
	background-color: $gray;
}
.four {
	background-color: $black;
}
.five {
	background-color: $yellow;
}

